@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

html{
  background-color: #e6e9e9;
}

body {
  color: hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin:10.5%;
}

/***sedan section***/
.sedan
{
background-color: hsl(31, 77%, 52%);
padding: 50px;
border-bottom-left-radius: 5px;
border-top-left-radius: 7px;
}

.sedan>button{
  color:hsl(31, 77%, 52%);
  border: 2px solid hsl(31, 77%, 52%) ;
  }
  
.sedan>button:hover{
  background-color:hsl(31, 77%, 52%) ;
  color:white ;
  border-color: white ;
  cursor: pointer;
  }    
  
/*** SUV section ***/  
.suv
{
background-color: hsl(184, 100%, 22%);
padding: 50px;
}

.suv>button{
  color: hsl(184, 100%, 22%) ;
  border: 2px solid hsl(184, 100%, 22%);
  }

.suv>button:hover{
  background-color:hsl(184, 100%, 22%) ;
  color:white ;
  border-color: white ;
  cursor: pointer;
}
 
/***luxury section ***/
.luxury{
background-color: hsl(179, 100%, 13%);
padding: 50px;
border-bottom-right-radius: 7px;
border-top-right-radius: 7px;
}

.luxury> button{
color:hsl(179, 100%, 13%) ;
border: 2px solid hsl(179, 100%, 13%) ;
}

.luxury>button:hover{
background-color:hsl(179, 100%, 13%) ;
color:white ;
border-color: white ;
cursor: pointer;
}

/*** general styling section ***/

h1{
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
}

p{
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 30%;
  line-height: 30px;
  font-weight: 400;
  opacity: 80%;
}

button{
border-radius: 50px;
font-family: 'Lexend Deca', sans-serif;
padding: 15px;
width: 175px;
border: none;
stroke: white;
}

/**** Mobile design *****/

@media only screen and (max-width:380px) {
  
.container{
  display: flex;
  flex-flow: column;
  margin: 3%;
}

.luxury, .sedan, .suv{
  padding: 50px;
}

.sedan{
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0px;
}

.luxury{
  border-top-right-radius: 0px;
  border-bottom-left-radius: 7px;
}

h1{
  font-size: 45px;
}

p{
  padding-bottom: 5%;
}

}
